force-app/main/default/flows/Lead_Qualification_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>hot</name>
        <label>hot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_record_using_entered_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warm</name>
        <label>Warm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_record_using_entered_values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Analytics</name>
        <choiceText>Analytics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analytics</stringValue>
        </value>
    </choices>
    <choices>
        <name>cr</name>
        <choiceText>cr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>cr</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRM</name>
        <choiceText>CRM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CRM</stringValue>
        </value>
    </choices>
    <choices>
        <name>GC1000_series</name>
        <choiceText>GC1000 series</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GC1000 series</stringValue>
        </value>
    </choices>
    <choices>
        <name>GC3000_series</name>
        <choiceText>GC3000 series</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GC3000 series</stringValue>
        </value>
    </choices>
    <choices>
        <name>GC5000_series</name>
        <choiceText>GC5000 series</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GC5000 series</stringValue>
        </value>
    </choices>
    <choices>
        <name>MarketingAutomation</name>
        <choiceText>Marketing Automation</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Warm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_greater_than1000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hot</targetReference>
            </connector>
            <label>Budget greater than 1000</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Qualification flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Qualification flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Lead_record_using_entered_values</name>
        <label>Lead record using entered values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductInterest__c</field>
            <value>
                <elementReference>Interested_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>LeadRating</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Lead_Qualification_Form</name>
        <label>Lead Qualification Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Budget</name>
            <dataType>Currency</dataType>
            <fieldText>Budget</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Interested_Product</name>
            <choiceReferences>GC1000_series</choiceReferences>
            <choiceReferences>GC5000_series</choiceReferences>
            <choiceReferences>GC3000_series</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interested Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Qualification_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadRating_warn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Warm</stringValue>
        </value>
    </variables>
</Flow>
